// color
$white: #ffffff;
$gray-10: #eeeeee;
$gray-25: #aaaaaa;
$gray-50: #707070;
$gray-75: #444444;
$black: #222222;
$accent: #0d87e0;

// font-size
$body: clamp(1rem, 0.95rem + 2vw, 1.125rem);
$display: clamp(4.5rem, 1.83rem + 11.34vw, 10rem);
$heading1: clamp(2rem, 1.3rem + 3vw, 4rem);
$heading2: calc(#{$body} * 1.5);
$heading3: calc(#{$body} * 1.2);
$small-heading2: clamp(0.875rem, 4vw - 1rem, 1.6875rem);
$small-heading3: calc(#{$small-heading2} * 0.86);

// space
$space-xs: clamp(1.25rem, 1rem + 0.98vw, 1.875rem);
$space-sm: calc(#{space-xs} * 1.5);
$space-md: calc(#{space-xs} * 2);
$space-lg: calc(#{space-xs} * 3);
$space-xl: calc(#{space-xs} * 4);
$space-jump: clamp(1.25rem, 0.35rem + 3.8vw, 3.75rem);