@import "variables";

.flexBox {
  composes: flex_sideBySideCenter from 'styles/utils.module.scss';
}

.hero__txt {
  padding: calc(#{$display} * 0.5) 0 calc(#{$display} * 0.7);
}

.hero__ttl {
  font-size: $display;
  font-weight: 900;
  letter-spacing: 0.15em;
}

.hero__subttl {
  font-size: $small-heading2;
}

.hero__img {
  width: 100%;

  @include mediaQuery(pc) {
    width: 50%;
  }
}
