@import "variables";

.flexBox {
  display: flex;
  align-items: baseline;
  gap: 1.25rem;
  color: $gray-50;

  @include mediaQuery(pc) {
    flex-direction: column;
  }
}

.ttl {
  margin-left: auto;
  font-size: $small-heading2;
}

.list {
  display: flex;
  font-size: $small-heading3;
  gap: 0.5rem;

  @include mediaQuery(pc) {
    flex-direction: column;
  }
}
