@import "variables";

.wrapper {
  padding: $space-sm 0;
}

.ttl {
  font-size: $small-heading2;
  font-weight: 700;
}

.subttl {
  margin-top: 0.2em;
}

.time {
  display: flex;
  gap: 0.5em;
  color: $gray-50;
  font-size: $small-heading3;
  margin-top: 1em;
}
